<% layout('./layouts/page') -%>

<div class="site-blocks-cover overlay" style="background-image: url(images/hero_bg_1.jpg);" data-aos="fade"
  data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center text-center justify-content-center">
      <div class="col-md-8">
        <span class="sub-text">Interior Design Company</span>
        <h1>Joch Interiors and Renovation</h1>
      </div>
    </div>
  </div>
</div>

<div class="site-block-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <a href="#" class="site-block-feature d-flex p-4 rounded mb-4">
          <div class="mr-3">
            <span class="icon flaticon-window font-weight-light h2"></span>
          </div>
          <div class="text">
            <h3>Interior Architecture</h3>
            <p>
              Joch Interiors and Renovation is capable in restructuring old building interior architecture to modern standards that
              suits clients interests.
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#" class="site-block-feature d-flex p-4 rounded mb-4">
          <div class="mr-3">
            <span class="icon flaticon-measuring font-weight-light h2"></span>
          </div>
          <div class="text">
            <h3>Interior Design</h3>
            <p>Our company is able to make elegant designs that suits to the customer's class and with all preferences
              considered.</p>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#" class="site-block-feature d-flex p-4 rounded mb-4">
          <div class="mr-3">
            <span class="icon flaticon-interior-design font-weight-light h2"></span>
          </div>
          <div class="text">
            <h3>Furniture selection</h3>
            <p>We are able to locate and find the best furniture for our esteemed clients according to their taste and
              preference.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="site-section  border-bottom">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
        <div class="media custom-media">
          <div class="mr-3 icon"><span class="flaticon-interior-design display-4"></span></div>
          <div class="media-body">
            <h5 class="mt-0">Creative Solutions</h5>
            Meet a team of interior creatives who can convert a space to an elegant one within your budget.
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
        <div class="media custom-media">
          <div class="mr-3 icon"><span class="flaticon-step-ladder display-4"></span></div>
          <div class="media-body">
            <h5 class="mt-0">Design Interior</h5>
            Joch Interiors and Renovation utilizes all resources available to create modern designs that capture your attention.
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
        <div class="media custom-media">
          <div class="mr-3 icon"><span class="flaticon-turned-off display-4"></span></div>
          <div class="media-body">
            <h5 class="mt-0">Intuitive Design</h5>
            With years of experience comes with it intuition for our team knows which design works for whatever space
            the client presents.
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="img-border">
          <img src="images/img_3.jpg" alt="Image" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-5 ml-auto">
        <span class="sub-title">Why Us</span>
        <h2 class="font-weight-bold text-black mb-5">Why Us</h2>
        <div class="accordion" id="accordionExample">

          <h2 class="mb-0 border rounded mb-2">
            <button class="btn " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne">
              1. What Should I Do If My Interior Broken?
            </button>
          </h2>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <p>
                Call Joch Interiors and Renovation and the entity will be able to ascertain the issue for you with our team ready to
                offer our services.
              </p>
            </div>
          </div>

          <h2 class="mb-0 border rounded mb-2">
            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              2. What Is Your Location?
            </button>
          </h2>

          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <p>
                Located at Kibera, Nairobi. Postal address: P.O Box 2275 Nairobi.
              </p>
            </div>
          </div>

          <h2 class="mb-0 border rounded mb-2">
            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
              3. Robus Building
            </button>
          </h2>

          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <p>
                Office, residential, industrial and commercial space designs.
              </p>
            </div>
          </div>

          <h2 class="mb-0 border rounded mb-2">
            <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
              aria-expanded="false" aria-controls="collapseFour">
              4. What Is Your Main Services?
            </button>
          </h2>

          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
              <p>
                Furniture selection, kitchenette design, bedroom decor office space design (partitioning and colors) and
                living room design.
              </p>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>


<div class="container site-section block-13 testimonial-wrap">

  <div class="row">
    <div class="col-12 text-center">
      <span class="sub-title">Happy Clients</span>
      <h2 class="font-weight-bold text-black mb-5">Testimonials</h2>
    </div>
  </div>

  <div class="nonloop-block-13 owl-carousel">

    <div class="testimony">
      <img src="images/Erick_Tony.jpg" alt="Image" class="img-fluid">
      <h3>Erick Tony</h3>
      <span class="sub-title">Owner of Joch Interiors and Renovation.</span>
      <p>&ldquo;<em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non eligendi totam natus ullam
          cumque! Assumenda optio, ad in! Nesciunt natus veritatis hic iste quas. Sunt iste autem vel
          repudiandae.</em>&rdquo;</p>
    </div>

    <div class="testimony">
      <img src="images/Erick_Tony.jpg" alt="Image" class="img-fluid">
      <h3>Erick Tony</h3>
      <span class="sub-title">Executive Manager of Joch Interiors and Renovation</span>
      <p>&ldquo;<em>Eveniet, laboriosam impedit facilis. Voluptatem, repudiandae eligendi maiores sunt itaque, dolores
          voluptas labore perferendis, illum tenetur suscipit vero officia. Quaerat facilis cum ex a labore iusto,
          beatae fuga nam rem, quos vel aliquam nobis.</em>&rdquo;</p>
    </div>

    <div class="testimony">
      <img src="images/Erick_Tony.jpg" alt="Image" class="img-fluid">
      <h3>Erick Tony</h3>
      <span class="sub-title">Project Manager of Joch Interiors and Renovation</span>
      <p>&ldquo;<em>Laboriosam nisi natus quos soluta blanditiis iste in distinctio fugiat perferendis, architecto
          eveniet provident, consequatur dolore ab nihil voluptatibus laborum magnam cum assumenda nobis, nam quam quae!
          Unde porro laboriosam nam qui! Eligendi, qui!</em>&rdquo;</p>
    </div>

    <div class="testimony">
      <img src="images/Erick_Tony.jpg" alt="Image" class="img-fluid">
      <h3>Erick Tony</h3>
      <span class="sub-title">Architect of Joch Interiors and Renovation</span>
      <p>&ldquo;<em>Voluptatibus sed vero corporis reiciendis, ducimus iste aliquam doloribus voluptas nam quo assumenda
          perferendis excepturi accusantium, ipsam minus tempora earum exercitationem laborum. Delectus voluptate
          quaerat repellat obcaecati. Qui nemo ad similique facere modi dolores.</em>&rdquo;</p>
    </div>
  </div>
</div>

<div class="site-section site-block-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="img-border">
          <img src="images/img_2.jpg" alt="Image" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row row-items">
          <div class="col-6">
            <a href="#" class="d-flex text-center feature active p-4 mb-4 bg-white">
              <span class="align-self-center w-100">
                <span class="d-block mb-3">
                  <span class="flaticon-step-ladder display-3"></span>
                </span>
                <h3>Pool Decor</h3>
              </span>
            </a>
          </div>
          <div class="col-6">
            <a href="#" class="d-flex text-center feature active p-4 mb-4 bg-white">
              <span class="align-self-center w-100">
                <span class="d-block mb-3">
                  <span class="flaticon-sit-down display-3"></span>
                </span>
                <h3>Seat Decor</h3>
              </span>
            </a>
          </div>
        </div>
        <div class="row row-items last">
          <div class="col-6">
            <a href="#" class="d-flex text-center feature active p-4 mb-4 bg-white">
              <span class="align-self-center w-100">
                <span class="d-block mb-3">
                  <span class="flaticon-turned-off display-3"></span>
                </span>
                <h3>Intuitive Idea</h3>
              </span>
            </a>
          </div>
          <div class="col-6">
            <a href="#" class="d-flex text-center active feature active p-4 mb-4 bg-white">
              <span class="align-self-center w-100">
                <span class="d-block mb-3">
                  <span class="flaticon-window display-3"></span>
                </span>
                <h3>Decorations</h3>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <span class="sub-title">News &amp; Update</span>
        <h2 class="font-weight-bold text-black mb-5">Our Blog Posts</h2>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 post-entry">
        <a href="#" class="d-block figure">
          <img src="images/img_1.jpg" alt="Image" class="img-fluid">
        </a>
        <span class="text-muted d-block mb-2">23, January 2019</span>
        <h3><a href="#">Architecture is ready to take the world to the next level </a></h3>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 post-entry">
        <a href="#" class="d-block figure">
          <img src="images/img_2.jpg" alt="Image" class="img-fluid">
        </a>
        <span class="text-muted d-block mb-2">23, January 2019</span>
        <h3><a href="#">Architecture is ready to take the world to the next level </a></h3>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 post-entry">
        <a href="#" class="d-block figure">
          <img src="images/img_3.jpg" alt="Image" class="img-fluid">
        </a>
        <span class="text-muted d-block mb-2">23, January 2019</span>
        <h3><a href="#">Architecture is ready to take the world to the next level </a></h3>
      </div>

    </div>
    <div class="row mt-5 text-center">
      <div class="col-12">
        <p><a href="#" class="btn btn-primary btn-lg rounded-0">View All Posts</a></p>
      </div>
    </div>
  </div>
</div>